{%- liquid
assign enable_top_header = false
assign hd_locale_selector = false
assign hd_country_selector = false
assign announcement = false
assign social_icons = false
assign text_only = true
assign autoplay = section.settings.autoplay

if section.settings.show_country_selector and localization.available_countries.size > 1
  assign hd_country_selector = true
endif
if section.settings.show_locale_selector and shop.published_locales.size > 1
  assign hd_locale_selector = true
endif
if hd_locale_selector or hd_country_selector
  assign selectors = true
endif
for block in section.blocks
  if block.type == 'announcement_text'
    assign announcement = true
  endif
endfor
if settings.facebook_url == blank and settings.twitter_url == blank and settings.pinterest_url == blank and settings.tumblr_url == blank and settings.youtube_url == blank and settings.instagram_url == blank
  assign socials_exist = false
else
  assign socials_exist = true
endif
if section.settings.show_social_icons and socials_exist
  assign social_icons = true
endif
if social_icons or announcement or selectors
  assign enable_top_header = true
endif
if selectors or social_icons
  assign text_only = false
endif

-%}
{% if enable_top_header %}
<div class="announcement__bar-section" data-section-id="{{ section.id }}" data-section-type="announcement-section">
  <div id="top-bar" class="js-top-bar {% if section.settings.full_width_announcement_bar %}gridlock-fluid{% endif %}">
    {% if section.settings.full_width_announcement_bar %}<div class="row">{% endif %}
    <div class="row top-bar-grid">
      {% if section.settings.show_social_icons %}
        {% render 'social-icons', wrapper: '.top-bar-grid', fill_color: 'var(--top-bar-color)', hover_color: 'var(--top-bar-color)', id: 'social-links', class: 'tablet-hide mobile-hide' %}
      {% endif %}
      {% if announcement %}
        {% capture slideshow_config %}{
          "wrapAround":true,
          "dragThreshold":"15",
          "pauseAutoPlayOnHover":false,
          "autoPlay": {{ autoplay }},
          "pageDots":false,
          "prevNextButtons": true
        }{% endcapture %}
        {% assign is_carousel = true %}
      <div class="announcement__text{% if text_only %} text-only{% endif %} rte m0 flickity__section js-announcement-carousel" data-flickity='{{ slideshow_config }}'>
        {% for block in section.blocks %}
          {% if block.type == 'announcement_text' %}
            <div class="announcement__carousel-item" {{ block.shopify_attributes }} data-slider-index="{{ forloop.index0 }}">
              {{ block.settings.announcement_text }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
      {% endif %}
      {% if hd_locale_selector or hd_country_selector %}
      <ul class="localization__options tablet-hide mobile-hide">
      {%- if hd_locale_selector -%}
        <li class="lang-selector">
          <div class="selectors-form__item">
            <h2 class="visually-hidden" id="lang-heading">
              {{ 'general.language.dropdown_label' | t }}
            </h2>
            <noscript>
              {%- form 'localization', id: 'HeaderLanguageFormNoScript', class: 'selectors-form', data-disclosure-form: '' -%}
                <select name="locale_code" class="localization-selector button disclosure__toggle styled-select" aria-labelledby="lang-heading">
                  <option value="" disabled>{{ 'general.language.dropdown_label' | t }}</option>
                  {%- for language in localization.available_languages -%}
                    <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                      {{ language.endonym_name | capitalize }}
                    </option>
                  {%- endfor -%}
                </select>
                <button class="localization-form__noscript-btn button disclosure__toggle">
                  {% render 'snip-icons',
                     wrapper: '.section-top-bar__lang',
                     type: 'apollo',
                     icon: 'checkmark',
                     size: '12px',
                     fill: 'var(--topbar-text-color)',
                     hover: 'var(--topbar-background-color)' %}
                </button>
              {%- endform -%}
            </noscript>
            {%- form 'localization', id: 'HeaderLanguageForm', class: 'selectors-form', data-disclosure-form: '' -%}
            <div class="disclosure" data-disclosure-locale>
              <button type="button" class="disclosure__toggle" aria-expanded="false" aria-controls="lang-list" aria-describedby="lang-heading" data-disclosure-toggle>
                {{ form.current_locale.iso_code }}
              </button>
              <ul id="lang-list" class="disclosure-list" data-disclosure-list>
                {% for locale in form.available_locales %}
                  <li class="disclosure-list__item {% if locale.iso_code == form.current_locale.iso_code %}disclosure-list__item--current{% endif %}">
                    <a class="disclosure-list__option" href="#" lang="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %}aria-current="true"{% endif %} data-value="{{ locale.iso_code }}" data-disclosure-option>
                      {{ locale.endonym_name }}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
              <input type="hidden" name="locale_code" id="LocaleSelector" value="{{ form.current_locale.iso_code }}" data-disclosure-input/>
            </div>
            {%- endform -%}
          </div>
        </li>
      {%- endif -%}
      {%- if hd_country_selector -%}
        <li class="curr-selector">
            <div class="selectors-form__item">
              <h2 class="visually-hidden" id="currency-heading_header">
                {{ 'general.currency.dropdown_label' | t }}
              </h2>
              <noscript>
                {%- form 'localization', id: 'HeaderCountryFormNoScript', class: 'selectors-form', data-disclosure-form: '' -%}
                  <select class="localization-selector link disclosure__toggle styled-select" name="country_code" aria-labelledby="currency-heading_header">
                    <option value="" disabled>{{ 'general.currency.dropdown_label' | t }}</option>
                    {%- for country in localization.available_countries -%}
                      <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
                        {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                      </option>
                    {%- endfor -%}
                  </select>
                  <button class="localization-form__noscript-btn disclosure__toggle button mb0 btn-as-link inline-block v-center button-as-link">
                    {% render 'snip-icons',
                       wrapper: '.section-top-bar__lang',
                       type: 'apollo',
                       icon: 'checkmark',
                       size: '12px',
                       fill: 'var(--topbar-text-color)',
                       hover: 'var(--topbar-background-color)' %}
                  </button>
                {%- endform -%}
              </noscript>
              {%- form 'localization', id: 'HeaderCountryForm', class: 'selectors-form', data-disclosure-form: '' -%}
              <div class="disclosure" data-disclosure-currency>
                <button type="button" class="disclosure__toggle" aria-expanded="false" aria-controls="currency-list_header" aria-describedby="currency-heading_header" data-disclosure-toggle>
                  {% if section.settings.show_flag %}
                    <span class="country--flag">
                      {{ localization.country | image_url: width: 32 | image_tag: class: 'disclosure__toggle__flag', loading: 'eager', image_alt: country.name, fetchpriority: 'high' }}
                    </span>
                  {% endif %}
            {{ localization.country.currency.iso_code }}
                </button>
                <ul id="currency-list_header" class="disclosure-list" data-disclosure-list>
                  {% for country in localization.available_countries %}
                    <li class="disclosure-list__item {% if country.iso_code == localization.country.iso_code %}disclosure-list__item--current{% endif %}">
                      <a class="disclosure-list__option" href="#" {% if country.iso_code == localization.country.iso_code %}aria-current="true"{% endif %} data-value="{{ country.iso_code }}" data-disclosure-option>
                        {% if section.settings.show_flag %}
                          <span class="country--flag">
                            {{ country | image_url: width: 32 | image_tag: class: 'disclosure__toggle__flag', loading: 'lazy', alt: country.name }}
                          </span>
                        {% endif %}
                          <span class="country--name">
                            {{ country.name }}
                          </span>
                                <span class="localization-form__currency">({{ country.currency.iso_code }})</span>
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
                <input type="hidden" name="country_code" id="HeaderCurrencySelector" value="{{ localization.country.iso_code }}" data-disclosure-input/>
              </div>
              {%- endform -%}
            </div>
        </li>
      {%- endif -%}
      </ul>
      {% endif %}
    </div>
    {% if section.settings.full_width_announcement_bar %}</div>{% endif %}
  </div>
</div>
{% endif %}
