{%- liquid

  assign collection = collections[section.settings.collection]
  assign product_count = collection.products.size | plus: 0

  assign limit = section.settings.limit
  if collection != blank and limit > product_count
    assign limit = product_count
  else
    assign limit = section.settings.limit
  endif

  assign grid = section.settings.grid

  case grid
    when 2
      assign grid_count = 'two-up'
    when 3
      assign grid_count = 'three-up'
    when 4
      assign grid_count = 'four-up'
  endcase

  assign aos_mod = 2

  assign enough_to_wrap = false
  if limit > 2
    assign enough_to_wrap = true
  endif

  assign section_padding = ''
  if section.settings.section_padding == 'top'
    assign section_padding = 'pb0'
  elsif section.settings.section_padding == 'bottom'
    assign section_padding = 'mt0'
  elsif section.settings.section_padding == 'none'
    assign section_padding = 'mt0 pb0'
  endif

  assign hide_caption = false
  if section.settings.caption_heading == blank and section.settings.caption == blank and section.settings.button_text == blank
   assign hide_caption = true
  endif

  assign caption_position = section.settings.caption_position

-%}

{% style %}
  #shopify-section-{{ section.id }} .collection--carousel .collection--carousel_image {
    {% assign block_opacity = section.settings.overlay_opacity | plus: 0 | divided_by: 100.0 %}
    --section-overlay-color: {{ section.settings.overlay_color | color_modify: 'alpha', block_opacity }};
    --caption-background: {{ section.settings.caption_background }};
    --text-color: {{ section.settings.text_color }};
    --h2-size:  {{ section.settings.heading_font_size }}px;
    --font-size:  {{ section.settings.subheading_font_size }}px;
  }
  @media screen and (max-width: 740px) {
    #shopify-section-{{ section.id }} .collection--carousel_image {
      --h2-size:  calc({{ section.settings.heading_font_size }}px - ({{ section.settings.heading_font_size }}px * 0.15));
      --font-size:  calc({{ section.settings.subheading_font_size }}px - ({{ section.settings.subheading_font_size }}px * 0.15));
    }
  }

  {% if section.settings.image_first %}
    #shopify-section-{{ section.id }} .collection--carousel .collection--carousel_image {
      order: 0;
    }
    @media screen and (max-width: 740px) {
      #shopify-section-{{ section.id }} .collection--carousel .collection--carousel_image {
        margin-bottom: 20px;
      }
    }
    #shopify-section-{{ section.id }} .collection--carousel .collection--carousel_wrapper {
      order: 1;
    }
  {% endif %}
{% endstyle %}

<section class="collection--carousel global__section {{ section_padding }}" data-section-id="{{ section.id }}" data-section-type="featured-collection" data-aos="fade">
  {% if section.settings.full_width %}<div class="gridlock-fluid"><div class="row">{% endif %}
  <div class="row grid__wrapper gr0">
    {% capture slideshow_config %}{
      "wrapAround":{{ enough_to_wrap }},
      "cellAlign": "left",
      "dragThreshold":"15",
      "draggable": {{ enough_to_wrap }},
      "pauseAutoPlayOnHover":false,
      "prevNextButtons": {{ enough_to_wrap }},
      "pageDots": false
   }{% endcapture %}

    <div class="collection--carousel_container span-12 auto">
      <div class="collection--carousel_wrapper product-loop flickity__section {{ grid_count }} span-8 sm-span-12 auto js-carousel"
        data-flickity-config='{{ slideshow_config }}' 
        data-limit="{{ limit }}"
        data-aos="fade"
        data-aos-delay="100">

            {%- if collection == blank -%}
              {% render 'onboard-product', prod_limit: limit, grid: grid, aos_mod: aos_mod %}
            {%- else -%}

              {% for product in collection.products %}
                <div class="product-index js-product-listing"
                  id="product-listing-{{ product.id }}"
                  data-product-id="{{ product.id }}"
                  data-alpha="{{ product.title }}"
                  data-price="{{ product.price }}"
                  data-index="{{ forloop.index }}"
                  data-aos="fade"
                  data-aos-delay="{{ forloop.index | minus: 1 | modulo: aos_mod | times: 100 }}">
                  {% liquid
                    assign loading = 'lazy'
                    assign fetch_priority = 'auto'
                    if section.index == 1 and forloop.index <= grid
                      assign loading = 'eager'
                      assign fetch_priority = 'high'
                    endif
                   %}
                  {% render 'product-listing', product: product, collection: collection, loading: loading, fetchpriority: fetch_priority %}
                </div>
              {% endfor %}

            {%- endif -%}
      </div>

      <div class="collection--carousel_image span-4 sm-span-12 auto"  data-aos="fade">
        {% if section.settings.image != blank %}
          {% liquid
            assign loading = 'lazy'
            assign fetch_priority = 'auto'
            if section.index == 1
              assign loading = 'eager'
              assign fetch_priority = 'high'
            endif
           %}
          {%
            render 'basic-responsive-image',
            type: section.settings.image,
            sm_render: '300px',
            md_render: '800px',
            lg_render: '1200x',
            width: 1600,
            loading: loading,
            fetchpriority: fetch_priority
          %}
        {% else %}
          <div class="onboard">
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
        {% endif %}
        {% unless hide_caption %}
          <div class="collection--carousel_caption image__caption {{ caption_position }}">
            <div class="caption--flex_container">
            {% if section.settings.caption_heading != blank %}
              <h2>{{ section.settings.caption_heading | escape }}</h2>
            {% endif %}
            {% if section.settings.caption != blank %}
            {{ section.settings.caption }}
            {% endif %}
            {% if section.settings.link != blank and section.settings.button_text != blank %}
              <div class="caption__btn-wrapper">
                <a class="button" href="{{ section.settings.link }}">
                  {{ section.settings.button_text }}
                </a>
              </div>
            {% endif %}
            </div>
          </div>
        {% endunless %}
      </div>
    </div>
  </div>
  {% if section.settings.full_width %}</div></div>{% endif %}
</section>
<div class="clear"></div>

{% schema %}
{
  "name": "Collection carousel",
  "settings": [
    {
      "type":"checkbox",
      "id":"full_width",
      "label":"Full width"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "grid",
      "min": 2,
      "max": 4,
      "step": 1,
      "label": "Products visible",
      "default": 3
    },
    {
      "type": "range",
      "id": "limit",
      "min": 2,
      "max": 28,
      "step": 2,
      "label": "Total number of products",
      "default": 12
    },
    {
      "type":"header",
      "content":"Image"
    },
    {
      "type":"paragraph",
      "content":"Select an image that will be positioned alongside the products. Image will scale and crop to meet the height of the products"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1600px x 1200px recommended"
    },
    {
      "type": "checkbox",
      "id": "image_first",
      "label": "Image before products"
    },
    {
      "type":"header",
      "content":"Caption"
    },
    {
      "type": "text",
      "id": "caption_heading",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "richtext",
      "id": "caption",
      "label": "Caption",
      "default": "<p>Add a caption to the image"
    },
    {
      "id": "button_text",
      "type": "text",
      "label": "Button text",
      "default": "Button",
      "info": "Visible only if a link is chosen"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "range",
      "id": "heading_font_size",
      "min": 13,
      "max": 36,
      "step": 1,
      "unit": "px",
      "label": "Heading size",
      "default": 22
    },
    {
      "type": "range",
      "id": "subheading_font_size",
      "min": 13,
      "max": 36,
      "step": 1,
      "unit": "px",
      "label": "Text size",
      "default": 14
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Overlay opacity",
      "default": 0
    },
    {
      "type": "select",
      "id": "caption_position",
      "label": "Caption position",
      "default": "middle_center",
      "options": [
        {
          "value": "top_left",
          "label": "Top left"
        },
        {
          "value": "top_center",
          "label": "Top center"
        },
        {
          "value": "top_right",
          "label": "Top right"
        },
        {
          "value": "middle_left",
          "label": "Middle left"
        },
        {
          "value": "middle_center",
          "label": "Middle center"
        },
        {
          "value": "middle_right",
          "label": "Middle right"
        },
        {
          "value": "bottom_left",
          "label": "Bottom left"
        },
        {
          "value": "bottom_center",
          "label": "Bottom center"
        },
        {
          "value": "bottom_right",
          "label": "Bottom right"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "Section spacing",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "both",
          "label": "Both"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "both"
    }
  ],
  "presets": [{
    "name": "Collection carousel"
  }],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
