  {%
    render 'announcement-bar',
    section: section,
    block: block
  %}

{%- liquid

  if settings.cart_type == 'drawer'
    assign cart_classes = 'js-slideout-open'
    assign cart_settings = 'data-wau-slideout-target="ajax-cart" data-slideout-direction="right"'
  elsif settings.cart_type == 'modal_cart'
    assign cart_classes = 'js-modal-open'
    assign cart_settings = 'data-wau-modal-target="ajax-cart"'
  endif

-%}

{% capture search %}
{%- if settings.predictive_search_enabled -%}
<predictive-search
  data-routes="{{ routes.predictive_search_url | default: '/search/suggest' }}"
  data-input-selector='input[name="q"]'
  data-results-selector="#predictive-search"
  >
{%- endif -%}
  <form action="{{ routes.search_url }}" method="get" class="header-search-form">
    <div class="header-search-form__inner">
    <label class="visuallyhidden" for="header-search">{{ 'sections.search.placeholder' | t }}</label>
    <input
      type="text"
      class="header-search"
      name="q"
      id="header-search"
      placeholder="{{ 'sections.search.placeholder' | t }}"
      value="{{ search.terms | escape }}"
      {%- if settings.predictive_search_enabled -%}
        role="combobox"
        aria-expanded="false"
        aria-owns="predictive-search-results-list"
        aria-controls="predictive-search-results-list"
        aria-haspopup="listbox"
        aria-autocomplete="list"
        autocorrect="off"
        autocomplete="off"
        autocapitalize="off"
        spellcheck="false"
      {%- endif -%} />
    <button type="submit" class="search-button">
      {% render 'snip-icons',
         wrapper: '.slideout__trigger-search',
         type: 'apollo',
         icon: 'search',
         classes: 'vib-center',
         size: '14px',
         fill: 'var(--cart-links)',
         hover: 'var(--cart-links)' %}
    </button>
    </div><!-- /.header-search-form__inner -->
    <input name="options[prefix]" type="hidden" value="last">

    {% if settings.search_show_products_only %}
      <input type="hidden" name="type" value="product">
    {% endif %}

    {%- if settings.predictive_search_enabled -%}
      <div id="predictive-search" class="predictive-search" tabindex="-1"></div>
    {%- endif -%}
  </form>
{%- if settings.predictive_search_enabled -%}
</predictive-search>
{%- endif -%}
{% endcapture %}
<theme-header>
<div class="header-section js-header-section" data-section-id="{{ section.id }}" data-section-type="header-section">
  <header data-sticky-class="header--sticky" class="theme-header{% if section.settings.header_layout contains 'inline' %} stickynav{% endif %}{% if section.settings.full_width_announcement_bar %} gridlock-fluid{% endif %}">

    <div id="identity" class="header--container row">

      <div class="mobile-menu__trigger mobile-only">
        <div class="slideout__trigger--open text-left">
          <button class="slideout__trigger-mobile-menu js-slideout-open text-left" data-wau-slideout-target="mobile-navigation" data-slideout-direction="left" aria-label="Open navigation" tabindex="0" type="button" name="button">
            {% render 'snip-icons',
               wrapper: '.slideout__trigger-mobile-menu',
               type: 'apollo',
               icon: 'menu-bars',
               classes: 'slideout__trigger-mobile-menu--icon vib-center',
               size: '16px',
               fill: 'var(--cart-links)',
               hover: 'var(--cart-links)' %}
          </button>
        </div>
      </div>

      {% if section.settings.header_layout == 'center' %}
        <div class="large-search">
          {% if section.settings.search_layout == 'visible'  %}
            {{ search }}
          {% endif %}
        </div>
      {% endif %}

      <div id="logo" class="theme__logo">
        {% if section.settings.logo != blank %}
          <a href="{{ routes.root_url }}">
            {%
              render 'basic-responsive-image',
              type: section.settings.logo,
              width: 1200,
              loading: 'eager',
              fetchpriority: 'high'
            %}
          </a>
        {% else %}
          <a href="{{ routes.root_url }}">{{ shop.name }}</a>
        {% endif %}
      </div>

      {% if section.settings.header_layout == 'left' %}
        <div class="large-search">
          {% if section.settings.search_layout == 'visible' %}
            {{ search }}
          {% endif %}
        </div>
      {% endif %}

      {% if section.settings.header_layout contains 'inline' %}
				<nav class="navigation inline-header js-nav" data-sticky-class="navigation--sticky">
					<div id="navigation" class="navigation__maincontainer" >
						<ul id="nav">
							{% render 'navigation' %}
						</ul>
					</div>
				</nav>
      {% endif %}

      <div class="cart--container">
        <ul class="shopping--cart_links">
          <li class="search-icon"{% if section.settings.search_layout != 'modal' %} style="display: none"{% endif %}>
            <button class="slideout__trigger-search button-as-link js-modal-open"
                    data-wau-modal-target="search-modal"
                    aria-label="{{ 'sections.search.placeholder' | t }}"
                    aria-haspopup="true"
                    aria-expanded="false"
                    tabindex="0" type="button" name="button">
                {% render 'snip-icons',
                   wrapper: '.slideout__trigger-search',
                   type: 'apollo',
                   icon: 'search',
                   classes: 'vib-center',
                   size: '16px',
                   fill: 'var(--cart-links)',
                   hover: 'var(--cart-links)' %}
            </button>
            {% if section.settings.search_layout == 'modal' %}
              <div class="search-modal-content" data-wau-modal-content="search-modal" data-wau-modal-full style="display: none;" data-wau-modal-remove-original>
                {{ search }}
              </div>
            {% endif %}
          </li>

          {% if shop.customer_accounts_enabled %}
            {% if customer  %}
              <li class="cart-links__link-account customer-accounts">
                <a href="{{ routes.account_url }}">
                  <span class="customer-words vib-center">{{ 'general.customer.my_account' | t }}</span>
                  {% render 'snip-icons',
                     wrapper: '.cart-links__link-account',
                     type: 'apollo',
                     icon: 'user',
                     classes: 'cart-links__link-account--icon vib-center',
                     size: '16px',
                     fill: 'var(--cart-links)',
                     hover: 'var(--cart-links)' %}
                </a>
              </li>
            {% else %}
              <li class="cart-links__link-account customer-accounts">
                <a href="{{ routes.account_login_url }}">
                  <span class="customer-words vib-center">{{ 'general.customer.my_account' | t }}</span>
                  {% render 'snip-icons',
                     wrapper: '.cart-links__link-account',
                     type: 'apollo',
                     icon: 'user',
                     classes: 'cart-links__link-account--icon vib-center',
                     size: '16px',
                     fill: 'var(--cart-links)',
                     hover: 'var(--cart-links)' %}
                </a>
              </li>
            {% endif %}
          {% endif %}
          <!-- Wishlist link -->
  

        
            <li class="cart-links"> 
              <a href="#swym-wishlist" class="swym-wishlist">
              <i aria-hidden="true" focusable="false" role="presentation" class="fa-solid fa fa-heart"></i>
              </a>
            </li>

          {% if settings.cart_type == 'page_only' %}
            <li class="cart-links__link-cart my-cart-link-container">
              <a href="{{ routes.cart_url }}">
                <span class="my-cart-text vib-center">{{ 'cart.general.title' | t }}</span>
                {% render 'snip-icons',
                   wrapper: '.cart-links__link-cart',
                   type: 'apollo',
                   icon: 'cart',
                   classes: 'cart-links__link-cart--icon vib-center',
                   size: '16px',
                   fill: 'var(--cart-links)',
                   hover: 'var(--cart-links)' %}
                <span class="js-cart-count vib-center">{{ cart.item_count }}</span>
              </a>
            </li>
          {% else %}
            <li class="cart-links__link-cart my-cart-link-container">
              <div class="slideout__trigger--open">
                <a href="{{ routes.cart_url }}">
                  <button class="slideout__trigger-mobile-menu js-mini-cart-trigger {{ cart_classes }}" {{ cart_settings }} aria-label="{{ 'cart.general.title' | t }} {{ cart.item_count }}" tabindex="0" type="button" name="button">
                    <span class="my-cart-text vib-center">{{ 'cart.general.title' | t }}</span>
                    {% render 'snip-icons',
                       wrapper: '.cart-links__link-cart',
                       type: 'apollo',
                       icon: 'cart',
                       classes: 'cart-links__link-cart--icon vib-center',
                       size: '16px',
                       fill: 'var(--cart-links)',
                       hover: 'var(--cart-links)' %}
                    <span class="js-cart-count vib-center">{{ cart.item_count }}</span>
                  </button>
                </a>
              </div>
            </li>
          {% endif %}
        </ul>
      </div>

    </div>
  </header>

  {% if section.settings.header_layout == 'left' or section.settings.header_layout == 'center' %}
		<nav id="nav" data-sticky-class="navigation--sticky" class="js-nav navigation full-nav{% if section.settings.full_width_announcement_bar %} gridlock-fluid{% endif %} stickynav">
			<div class="navigation__maincontainer row">
				<ul id="nav" {% unless section.settings.full_width_announcement_bar %}style="position: relative;"{% endunless %}>
					{% render 'navigation' %}
				</ul>
			</div>
		</nav>
  {% endif %}

  <div class="clear js-clear-element"></div>

  <style>
    {% if section.settings.search_layout == 'modal' %}
      .modal__inner-content-container form.header-search-form {
        position: relative;
      }
      .modal__inner-content-container button.search-button {
        position: absolute;
        right: 0;
        top: 0;
      }
    {% else %}
      div#predictive-search {
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 13;
        transform: translateY(10px);
      }
    {% endif %}

    {% if section.settings.logo != blank %}
      #logo img { max-width: {{ section.settings.logo_max_width }}px; }
      @media screen and (max-width: 740px) {
        #logo img { max-width: {{ section.settings.logo_max_width_mobile }}px; }
      }
      #logo { line-height: 0;}
    {% endif %}

    nav {
      {% if section.settings.header_layout == 'center' %}text-align: center;{% endif %}
      line-height: {{ section.settings.nav_height }}px;
    }

    @media screen and (min-width: 981px) {
      {% if section.settings.header_layout == 'center' %}
        .large-search {
          flex: 0 0 calc((50% - {{ section.settings.logo_max_width }}px / 2) - 1em);
        }
        .large-search form {
          max-width: 60%;
          margin-right: auto;
          margin-left: 0;
        }
        #logo {
          text-align: center;
          flex: 0 0 {{ section.settings.logo_max_width }}px;
        }
        div.cart--container {
          flex: auto;
        }
      {% endif %}

      {% unless section.settings.header_layout contains 'inline' %}
        #identity {
          display: flex;
          align-items: center;
          gap: 1em;
        }
      {% endunless %}

      {% if section.settings.header_layout == 'left' %}
        #logo {
          flex: 0 0 {{ section.settings.logo_max_width }}px;
        }
        .large-search {
          flex: auto;
        }
        .large-search form {
          max-width: 80%;
          margin: 0 auto;
        }
        .cart--container {
          flex: 0 0 auto;
        }
      {% endif %}

      {% if section.settings.header_layout contains 'inline' %}
        header.theme-header #identity {
          padding-left: 10px;
          padding-right: 10px;
          display: grid;
          grid-template-columns: 1fr 3fr 1fr;
          justify-content: space-between;
          flex-direction: row;
          align-items: center;
          gap: 1em;
        }
        header.theme-header #identity > div, #identity nav {
            margin: 0;
        }
        header.theme-header #identity #logo {
            flex: 0 0 {{ section.settings.logo_max_width }}px;
        }
        header.theme-header #identity nav.inline-header {
            flex: auto;
        }
        header.theme-header #identity .cart--container {
            flex: 0 0 auto;
        }
        @media only screen and (max-width: 980px) {
          header.theme-header #identity nav.inline-header {
            display: none;
          }
        }
      {% endif %}

      {% if section.settings.header_layout == 'inline_center' %}

        header.theme-header #identity {
          display: grid;
          grid-template-columns: 2fr 1fr 2fr;
        }

        header.theme-header #identity #logo {
          display: flex;
          justify-content: center;
        }
        header.theme-header #identity #logo {
          order: 1;
        }
        header.theme-header #identity nav.inline-header {
            order: 0;
        }
        header.theme-header #identity .cart--container {
            order: 2;
        }
      {% endif %}
    }

    @media screen and (max-width: 980px) {
      header.theme-header #identity {
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        gap: 1em;
      }
      div#logo {
        flex: 0 0 {{ section.settings.logo_max_width_mobile }}px;
      }
      .mobile-menu__trigger.mobile-only {
          flex-grow: 0;
          flex-shrink: 1;
          flex-basis: calc((50% - {{ section.settings.logo_max_width_mobile }}px / 2) - 1em);
          margin: 0!important;
          float: none!important;
      }
      .mobile-menu__trigger.mobile-only button.slideout__trigger-mobile-menu {
        padding: 0;
      }
      div.cart--container {
        flex: 0 0 calc((50% - {{ section.settings.logo_max_width_mobile }}px / 2) - 1em);
      }
      .navigation {
        display: none;
      }
    }

    @media screen and (max-width: 540px) {
        .mobile-menu__trigger.mobile-only {
          flex-basis: 40px;
        }
    }

    {% if section.settings.icons_only %}
      span.customer-words,
      span.my-cart-text { display: none; }
    {% endif %}

    {% if section.settings.search_layout == 'visible' %}
      ul#predictive-search-results-list {
          box-shadow: 0px 3px 3px -1px #999;
      }
    {% endif %}

    {% if section.settings.floating_header %}
      @media screen and (min-width: 981px) {

        /* -- Set header height and lift image sections --*/
        body.template-index #MainContent .header__overlay-banner:first-child {
          margin-top: calc(var(--header-height) * -1);
        }

        /* -- Override theme settings background colors --*/
        body.template-index .header-section,
        body.template-index header,
        body.template-index header:not(.header--sticky),
        body.template-index .navigation:not(.navigation--sticky) {
          background: transparent;
        }

        /* -- Reuse theme settings backgrounds on hover --*/
        body.template-index .header-section:hover,
        body.template-index .header-section:hover header,
        body.template-index header.header--sticky {
          background: var(--header-background);
        }

        /* -- Override theme settings link and fill colors --*/
        body.template-index .header-section header:not(.header--sticky) ul.shopping--cart_links > li a,
        body.template-index .header-section header:not(.header--sticky) ul.shopping--cart_links > li button,
        body.template-index .header-section header:not(.header--sticky) button.slideout__trigger-mobile-menu.js-slideout-open,
        body.template-index .header-section header:not(.header--sticky) #logo a,
        body.template-index .header-section header:not(.header--sticky) a.navigation__menulink,
        body.template-index .header-section header:not(.header--sticky) span.js-cart-count,
        body.template-index .header-section header:not(.header--sticky) a.navigation__menulink,
        body.template-index .header-section nav.full-nav:not(.navigation--sticky) a.navigation__menulink,
        body.template-index .header-section input.header-search::-webkit-input-placeholder,
        body.template-index .header-section input.header-search::placeholder {
          color: var(--header-float-color);
        }
        body.template-index .header-section header:not(.header--sticky) svg g.hover-fill,
        body.template-index .header-section header:not(.header--sticky) a.navigation__menulink svg g.hover-fill,
        body.template-index .header-section nav.full-nav:not(.navigation--sticky) a.navigation__menulink svg g.hover-fill {
          fill: var(--header-float-color);
        }

        /* -- Reuse theme settings link and fill colors when hovering --*/
        body.template-index .header-section:hover header ul.shopping--cart_links > li a,
        body.template-index .header-section:hover header ul.shopping--cart_links > li button,
        body.template-index .header-section:hover header button.slideout__trigger-mobile-menu.js-slideout-open,
        body.template-index .header-section:hover header #logo a,
        body.template-index .header-section:hover header span.js-cart-count,
        body.template-index .header-section:hover nav.navigation:not(.full-nav) a.navigation__menulink {
          color: var(--cart-links);
        }
        body.template-index .header-section:hover header:not(.header--sticky) svg g.hover-fill,
        body.template-index .header-section:hover header:not(.header--sticky) a.navigation__menulink svg g.hover-fill {
          fill: var(--cart-links);
        }

        body.template-index .header-section:hover input.header-search::-webkit-input-placeholder,
        body.template-index .header-section:hover input.header-search::placeholder {
          color: var(--disabled-text);
        }

        /* -- Reuse theme settings link and fill colors when docked --*/
        body.template-index .header-section header.header--sticky nav.navigation a.navigation__menulink {
          color: var(--cart-links);
        }
        body.template-index .header-section header.header--sticky nav.navigation a.navigation__menulink svg g.hover-fill {
          fill: var(--cart-links);
        }

        /* -- Reuse theme settings link and fill colors when full size nav --*/
        body.template-index .header-section:hover nav.full-nav:not(.navigation--sticky) {
          background: var(--navigation);
        }
        body.template-index .header-section:hover nav.full-nav:not(.navigation--sticky) a.navigation__menulink {
          color: var(--nav-color);
        }
        body.template-index .header-section:hover nav.full-nav:not(.navigation--sticky) a.navigation__menulink svg g.hover-fill {
          fill: var(--nav-color);
        }

        .navigation,
        .header-section a,
        .header-section button,
        .header-section span,
        .header-section svg g.hover-fill {
          transition: all .25s ease-in-out;
        }
        .header-section a span,
        .header-section button span {
          transition: none;
        }

      }
    {% endif %}

  </style>
</div>
</theme-header>

{% schema %}
{
  "name": "Header",
  "class": "js-site-header",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width_announcement_bar",
      "label": "Full width",
      "default": true
    },
    {
      "type": "header",
      "content": "Announcement bar"
    },
    {
      "type": "checkbox",
      "id": "show_social_icons",
      "label": "Show social icons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": false,
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_country_selector",
      "label": "Enable country/region selector",
      "default": true,
      "info": "To add a country/region, go to your [payment settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_flag",
      "label": "Show country flags",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay",
      "default": true
    },
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "select",
      "id": "header_layout",
      "label": "Header layout",
      "options": [{
          "value": "left",
          "label": "Logo left, navigation below"
        },
        {
          "value": "center",
          "label": "Logo center, navigation below"
        },
        {
          "value": "inline",
          "label": "Logo left, navigation inline"
        },
        {
          "value": "inline_center",
          "label": "Logo center, navigation inline"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "floating_header",
      "label": "Overlay on image sections",
      "info":"Puts header on top of the first section if slideshow or image with text overlay has been selected. Applies to desktop only.",
      "default": false
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 80,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Logo max width",
      "default": 200
    },
    {
      "type": "range",
      "id": "logo_max_width_mobile",
      "min": 80,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Mobile logo max width",
      "default": 200
    },
    {
      "type": "header",
      "content": "Cart and account links"
    },
    {
      "type": "checkbox",
      "id": "icons_only",
      "label": "Show icons only",
      "default": false
    },
    {
      "type": "select",
      "id": "search_layout",
      "label": "Search",
      "default": "modal",
      "options": [{
          "value": "visible",
          "label": "Always visible (excl inline layout)"
        },
        {
          "value": "modal",
          "label": "Modal"
        },
        {
          "value": "none",
          "label": "None"
        }
      ]
    },
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "link_list",
      "id": "main_nav",
      "label": "Menu",
      "default": "main-menu",
      "info": "It is best practice to select the same menu used in the Mobile Nav. [Learn More](https://developers.google.com/search/mobile-sites/mobile-first-indexing)"
    },
    {
      "type": "range",
      "id": "nav_height",
      "min": 30,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Height",
      "default": 40
    },
    {
      "type": "range",
      "id": "linklist_breakpoint",
      "min": 4,
      "max": 20,
      "step": 1,
      "label": "Links per column",
      "info": "Break long drop downs into multiple columns",
      "default": 10
    }
  ],
  "blocks": [
    {
      "type": "mega_menu",
      "name": "Mega dropdown",
      "settings": [{
          "type": "text",
          "id": "menu_item",
          "label": "Menu item",
          "info": "Enter a link title from your main navigation"
        },
        {
          "type": "image_picker",
          "id": "nav_image",
          "label": "Featured image"
        },
        {
          "type": "url",
          "id": "nav_promo_link",
          "label": "Featured image link"
        },
        {
          "type": "select",
          "id": "image_position",
          "label": "Image position",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        }
      ]
    },
    {
      "type": "links_with_images",
      "name": "Links with images",
      "settings": [
        {
          "type": "text",
          "id": "menu_item",
          "label": "Menu item",
          "info": "Enter a link title from your main navigation"
        },
        {
          "type": "select",
          "id": "image_ratio",
          "label": "Image ratio",
          "default": "natural",
          "options": [
            {
              "value": "natural",
              "label": "Natural"
            },
            {
              "value": "square",
              "label": "Square (1:1)"
            },
            {
              "value": "landscape",
              "label": "Landscape (4:3)"
            },
            {
              "value": "portrait",
              "label": "Portrait (2:3)"
            }
          ]
        },
        {
          "type": "header",
          "content":"Image 1"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link_1",
          "label": "Image link"
        },
        {
          "type": "header",
          "content":"Image 2"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link_2",
          "label": "Image link"
        },
        {
          "type": "header",
          "content":"Image 3"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link_3",
          "label": "Image link"
        }
      ]
    },
    {
      "type":"announcement_text",
      "name":"Announcement text",
      "settings": [
        {
          "type": "richtext",
          "id": "announcement_text",
          "label": "Announcement text",
          "default": "<p>Share a shop announcement or message</p>"
        }
      ]
    }
  ]
}
{% endschema %}
