{% liquid

  assign has_image = false
  if section.settings.email_image != blank
    assign has_image = true
  endif

case section.settings.popup_image
  when 'background'
    assign style = 'background'
  when 'content'
    assign style = 'image_top'
  when 'left_image'
    assign style = 'left_image'
  else
    assign style = 'simple'
    assign has_image = false
endcase

%}

{% style %}
#shopify-section-{{ section.id }} {
  --background: {{ section.settings.popup_background_color }};
  --text-color: {{ section.settings.popup_text_color }};
  --h3-size: {{ section.settings.popup_h3_size | append: 'px' }};
  --font-size: {{ section.settings.popup_subheading_size | append: 'px' }};
}
{% if style == 'background' %}
  .newsletter__popup-contentWrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  {% if has_image %}
    .newsletter__popup-content.style--background {
      height: 600px;
      background: url({{ section.settings.email_image | image_url: width: 1200 }});
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  {% endif %}
{% endif %}
{% endstyle %}

<section data-section-id="{{ section.id }}" data-section-type="mailing-popup">
  <div class="js-popup-overlay newsletter__popup-overlay"></div>
  <div class="js-popup newsletter__popup-container{% if style == 'simple' %} is--simple{% endif %}"
        style="display:none"
        data-popup-enabled={{ section.settings.popup | json }}
       data-popup-delay={{ section.settings.popup_delay | json }} data-popup-frequency={{ section.settings.popup_frequency | json }} >
    <a class="js-popup-close newsletter__popup-container-close" href="">
      {% render 'snip-icons',
         wrapper: '.newsletter__popup-container-close',
         type: 'apollo',
         icon: 'close',
         classes: 'popup-container-close--icon',
         size: '14px',
         fill: section.settings.popup_text_color,
         hover: section.settings.popup_text_color %}
    </a>

    <div class="newsletter__popup-content style--{{ style }}">
      {% if has_image %}
        {% if style == 'image_top' or style == 'left_image' %}
          <div class="newsletter__popup-image">
            {% render 'basic-responsive-image',
              type:  section.settings.email_image,
              width: 800,
              sm_render: sm_render,
              md_render: md_render,
              lg_render: lg_render,
              loading: loading,
              fetchpriority: high
            %}
          </div>
        {% endif %}
      {% else %}
        {% unless style == 'simple' %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endunless %}
      {% endif %}
      <div class="newsletter__popup-contentWrapper">
        <div class="newsletter__popup-text">
          {% if section.settings.mail_popup_title %}
            <h3>{{ section.settings.mail_popup_title }}</h3>
          {% endif %}
          {% if section.settings.mail_popup_text %}
            <p>{{ section.settings.mail_popup_text }}</p>
          {% endif %}
        </div>
        <div class="newsletter__popup-form">
          {% form 'customer' %}
            <input type="hidden" name="contact[tags]" value="prospect, newsletter">
            <label class="visuallyhidden" for="newsletter__popup-form--email">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
            <input type="email" name="contact[email]" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" id="newsletter__popup-form--email">
            <input type="submit" value="{{ section.settings.mail_button_text }}">
            {% if section.settings.mail_gdpr_text %}
              <p class="gdpr-text before-signup"><em>{{ section.settings.mail_gdpr_text }}</em></p>
            {% endif %}
          {% endform %}
        </div>
      </div>
      <div class="clear"></div>
    </div>

  </div>
</section>

{% schema %}
{
  "name": "Mailing Popup",
  "settings": [
    {
      "type": "checkbox",
      "id": "popup",
      "label": "Show mailing list popup"
    },
    {
      "type": "range",
      "id": "popup_delay",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "sec",
      "label": "Popup delay in seconds",
      "default": 5
    },
    {
      "type": "range",
      "id": "popup_frequency",
      "min": 1,
      "max": 30,
      "step": 1,
      "unit": "day",
      "label": "Popup frequency",
      "default": 7
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "select",
      "id": "popup_image",
      "options": [{
          "value": "background",
          "label": "Background image"
        },
        {
          "value": "content",
          "label": "Top image"
        },
        {
          "value": "left_image",
          "label": "Left image"
        },
        {
          "value": "simple",
          "label": "Simple (no image)"
        }
      ],
      "label": "Popup style"
    },
    {
      "type": "image_picker",
      "id": "email_image",
      "label": "Image",
      "info": "Background image: 600px x 650px / Content image: 600px x 400px recommended."
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "mail_popup_title",
      "label": "Heading",
      "default": "Join our mailing list"
    },
    {
      "type": "text",
      "id": "mail_popup_text",
      "label": "Subheading",
      "default": "Signup for updates!"
    },
    {
      "type": "text",
      "id": "mail_button_text",
      "label": "Button text",
      "default": "SignUp"
    },
    {
      "type": "text",
      "id": "mail_gdpr_text",
      "label": "GDPR text",
      "default": "*By completing this form you're signing up to receive our emails and can unsubscribe at any time."
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "range",
      "id": "popup_h3_size",
      "min": 13,
      "max": 36,
      "step": 1,
      "unit": "px",
      "label": "Heading size",
      "default": 22
    },
    {
      "type": "range",
      "id": "popup_subheading_size",
      "min": 13,
      "max": 36,
      "step": 1,
      "unit": "px",
      "label": "Subheading size",
      "default": 14
    },
    {
      "type": "color",
      "id": "popup_text_color",
      "label": "Text",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "popup_background_color",
      "label": "Background",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
