{%- liquid

  assign speed = section.settings.speed

-%}

{% style %}
  #shopify-section-{{ section.id }} {
    --font-size:  {{ section.settings.text_size }}px;
    --text-color: {{ section.settings.color }};
    --background: {{ section.settings.background }};
  }
  @media screen and (max-width: 740px) {
    #shopify-section-{{ section.id }} {
      --font-size:  calc({{ section.settings.text_size }}px - ({{ section.settings.text_size }}px * 0.15));
    }
  }
  #shopify-section-{{ section.id }} .scrolling__text-section {
    padding: {{ section.settings.padding }}px 0;
  }
  .scrolling__text-section.section-{{ section.id }} .scrolling__text--content {
    animation: text {{ speed }}s linear infinite;
  }
{% endstyle %}


<section class="global__section scrolling__text-section mt0 section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="rich-text-section" data-aos="{{ settings.scroll_animation }}">
  <div class="scrolling__text--wrapper grid__wrapper edge">
    <div class="scrolling__text--content scmq-{{ section.id }} span-12 auto">
      {% for repeat_index in (1..10) %} 
        {% for block in section.blocks %}

        {% liquid
          assign has_text = false
          if block.settings.scrolling_text != blank
            assign scrolling_text = block.settings.scrolling_text
            assign has_text = true
          endif
          assign has_image = false
          if block.settings.image != blank
            assign image = block.settings.image
            assign has_image = true
          endif
          assign has_icon = false
          if block.settings.icon != 'none'
            assign icon = block.settings.icon
            assign type = 'fash-theme'
            case icon
            when 'bag', 'cart', 'chat', 'checkmark', 'gift', 'grid', 'home', 'menu-dots', 'money', 'promo', 'sale-tag', 'search', 'secure', 'share', 'ship-truck', 'star', 'user', 'wish', 'wish-focus'
              assign type = 'apollo'
            endcase
            assign has_icon = true
          endif
        %}

          <span class="scrolling__text--item item-{{ forloop.index }}"{% unless forloop.first %} aria-hidden="true"{% endunless %}>
            {% if has_image or has_icon %}
              <span class="scrolling--image{% if has_image == false %} no--image{% endif %}">
                {% if has_image %}
                  {%
                    render 'basic-responsive-image',
                    type: image,
                    width: 120
                  %}
                {% elsif has_icon %}
                  {% render 'snip-icons',
                     wrapper: '.scrolling__text-icon',
                     type: type,
                     icon: block.settings.icon,
                     size: section.settings.icon_height | append: 'px',
                     fill: section.settings.color %}
                {% endif %}
              </span>
            {% endif %}
            {% if has_text %}
              <span class="scrolling--text">
                {{ scrolling_text }}
              </span>
            {% endif %}
          </span>

        {% endfor %}
      {% endfor %}
    </div>
  </div>

</section>

{% schema %}
{
  "name": "Scrolling text",
  "max_blocks":10,
  "blocks": [{
    "type": "text",
    "name": "Text",
    "settings": [
      {
        "type": "richtext",
        "id": "scrolling_text",
        "label": "Text",
        "default": "<p>Scrolling text</p>"
      },
      {
        "type": "select",
        "id": "icon",
        "label": "Choose an icon",
        "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "appliance",
          "label": "Appliance"
        },
        {
          "value": "bag",
          "label": "Bag"
        },
        {
          "value": "battery",
          "label": "Battery"
        },
        {
          "value": "bed",
          "label": "Bed"
        },
        {
          "value": "bell",
          "label": "Bell"
        },
        {
          "value": "calendar",
          "label": "Calendar"
        },
        {
          "value": "camera",
          "label": "Camera"
        },
        {
          "value": "chair",
          "label": "Chair"
        },
        {
          "value": "chat",
          "label": "Chat"
        },
        {
          "value": "checkmark",
          "label": "Checkmark"
        },
        {
          "value": "child",
          "label": "Child"
        },
        {
          "value": "clock",
          "label": "Clock"
        },
        {
          "value": "disability",
          "label": "Disability"
        },
        {
          "value": "dishwasher",
          "label": "Dishwasher"
        },
        {
          "value": "display",
          "label": "Display"
        },
        {
          "value": "drill",
          "label": "Drill"
        },
        {
          "value": "drink",
          "label": "Drink"
        },
        {
          "value": "eco",
          "label": "Eco"
        },
        {
          "value": "filter",
          "label": "Filter"
        },
        {
          "value": "flower",
          "label": "Flower"
        },
        {
          "value": "food",
          "label": "Food"
        },
        {
          "value": "gift",
          "label": "Gift"
        },
        {
          "value": "globe",
          "label": "Globe"
        },
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "hammer",
          "label": "Hammer"
        },
        {
          "value": "hanger",
          "label": "Hanger"
        },
        {
          "value": "headphones",
          "label": "Headphones"
        },
        {
          "value": "wish",
          "label": "Heart"
        },
        {
          "value": "wish-focus",
          "label": "Heart filled"
        },
        {
          "value": "help",
          "label": "Help"
        },
        {
          "value": "home",
          "label": "Home"
        },
        {
          "value": "laptop",
          "label": "Laptop"
        },
        {
          "value": "laundry",
          "label": "Laundry"
        },
        {
          "value": "lights",
          "label": "Lights"
        },
        {
          "value": "location",
          "label": "Location"
        },
        {
          "value": "lock",
          "label": "Lock"
        },
        {
          "value": "menu-dots",
          "label": "Menu dots"
        },
        {
          "value": "microphone",
          "label": "Microphone"
        },
        {
          "value": "money",
          "label": "Money"
        },
        {
          "value": "oven",
          "label": "Oven"
        },
        {
          "value": "phone",
          "label": "Phone"
        },
        {
          "value": "pine",
          "label": "Pine"
        },
        {
          "value": "planet",
          "label": "Planet"
        },
        {
          "value": "promo",
          "label": "Promo"
        },
        {
          "value": "receiver",
          "label": "Receiver"
        },
        {
          "value": "returns",
          "label": "Returns"
        },
        {
          "value": "sale-tag",
          "label": "Sale tag"
        },
        {
          "value": "search",
          "label": "Search"
        },
        {
          "value": "secure",
          "label": "Secure"
        },
        {
          "value": "security",
          "label": "Security"
        },
        {
          "value": "share",
          "label": "Share"
        },
        {
          "value": "ship-truck",
          "label": "Shipping truck"
        },
        {
          "value": "speaker",
          "label": "Speaker"
        },
        {
          "value": "star",
          "label": "Star"
        },
        {
          "value": "support",
          "label": "Support"
        },
        {
          "value": "trophy",
          "label": "Trophy"
        },
        {
          "value": "tv",
          "label": "TV"
        },
        {
          "value": "user",
          "label": "User"
        },
        {
          "value": "verified",
          "label": "Verified"
        },
        {
          "value": "video",
          "label": "Video"
        },
        {
          "value": "watch",
          "label": "Watch"
        }
        ]
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Or add an image",
        "info": "100px x 100px recommended"
      }
    ]
  }],
  "settings": [
    {
      "type": "range",
      "id": "text_size",
      "min": 13,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "Text size",
      "default": 20
    },
    {
      "type": "range",
      "id": "speed",
      "min": 5,
      "max": 25,
      "step": 1,
      "unit":"sec",
      "label": "Scroll speed",
      "default": 15
    },
    {
      "type": "range",
      "id": "icon_height",
      "min": 20,
      "max": 50,
      "step": 5,
      "unit": "px",
      "label": "Icon height",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding",
      "min": 0,
      "max": 80,
      "step": 5,
      "unit": "px",
      "label": "Section padding",
      "default": 30
    },
    {
      "type":"color",
      "label":"Text color",
      "id":"color",
      "default":"#000"
    },
    {
      "type":"color",
      "label":"Background color",
      "id":"background"
    }
  ],
  "disabled_on": {
    "groups": [
      "footer"
    ]
  },
  "presets": [
    {
    "name": "Scrolling text",
    "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}